<h1><%= current_user.name %></h1>

<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</button>
    <button class="nav-link" id="v-pills-doctors-tab" data-bs-toggle="pill" data-bs-target="#v-pills-doctors" type="button" role="tab" aria-controls="v-pills-doctors" aria-selected="false">Doctors</button>
    <button class="nav-link" id="v-pills-appointments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-appointments" type="button" role="tab" aria-controls="v-pills-appointments" aria-selected="false">Appointments</button>
  </div>
  <div class="tab-content" id="v-pills-tabContent" style="width: 500px">
    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
      <%= link_to "Edit user profile", edit_user_registration_path %>
    </div>
    <div class="tab-pane fade" id="v-pills-doctors" role="tabpanel" aria-labelledby="v-pills-doctors-tab">
      <div data-controller="doctors_search">
        <%= form_with model: @patients, local: false do |f| %>
          <%= f.collection_select :doctor_category_id,
            DoctorCategory.all,
            :id,
            :name,
            { prompt: 'Select doctors category' },
            { class: 'form-select', remote: true } %>
        <% end %>
      </div>
      <div id="doctors_by_category">
        <%= render partial: "doctors_by_category" %>
      </div>
    </div>
    <div class="tab-pane fade" id="v-pills-appointments" role="tabpanel" aria-labelledby="v-pills-appontments-tab">
      <% @appointments.each do |a| %>
      <div class="list-group">
        <div class="d-flex w-400 justify-content-between">
          <h5 class="mb-1">Appointment to <%= a.d_name %> (<%= a.dc_name %>)</h5>
          <small><%= a.appointment_date.strftime("Appointed to %F %H:%M") %></small>
        </div>
        <p class="mb-1"><% if a.recomendations.nil? %>
          No recomendations
          <% else %>
          <%= a.recomendations %>
          <% end %></p>
        <small>Appointments status: <%= a.aps_name %></small>
      </div>
      <% end %>
    </div>
  </div>
</div>
