<h1>New Appointment</h1>
<div class="container-sm">
  <h2>Assignment to Dr. <%= @doctor.u_name %> (<%= @doctor.dc_name %>)</h2>

  <%= form_with model: @appointment, local: false do |f| %>
    <div class="mb-3">
      <%= f.label :appointment_date, class: "form-label" %><br />
      <%= f.datetime_field :appointment_date, autofocus: true, class: "form-control" %>
    </div>
    <%= f.hidden_field :doctor_id, value: @doctor.d_id %>
    <%= f.hidden_field :patient_id, value: @patient.id %>
    <div class="actions">
      <%= f.submit "Appointment" %>
    </div>
  <% end %>


<%= link_to 'Back', '/patients/' + @patient.id.to_s %>
</div>
